:root{
  --light-grey: #e0e0e0;
  --dark-grey: #9e9e9e;
  --font-dark-grey: #606060;
  --font-very-dark-grey: #313131;
  --light-blue: #1a4ce4;
}

*, *::before{
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

body{
  font-family: Arial, Helvetica, sans-serif;
  /* font-weight: 400; */
  /* font-size: 16px; */
  /* line-height: 1.5; */
}

body, h1, h2, h3, p{
  margin: 0;
}

/* utilities */
span{
  color: var(--dark-grey);
}

h2{
  font-size: 32px;
}

a{
  text-decoration: none;
  color: var(--light-blue);
}

h1, h2, h3{
  color: var(--font-very-dark-grey);
}

p{
  color: var(--font-dark-grey);
}

/* //////end utilities////// */

/* nav bar */
.menu-icons{
  display: none;
}

.nav-wrapper{
  height: 64px;
  margin: 0 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

}

.left-side{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.right-side > ul{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
}

.right-side a{
  font-size: 18px;
  margin-left: 16px;
  font-weight: 500;
  color: var(--font-dark-grey);
    
}

.right-side a:hover{
  border-bottom: 1px solid black;
  color: black;
  transition: color 1s;
}

.logo{
  height: 50px;
  width: auto;
}

/* section 1 */
.section1{
  background-color: var(--light-grey);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.section1 img {
    width:60%;
    padding: 32px 24px;
}

/* .sec1-content h1, p{
  color: var(--font-very-dark-grey);
} */

.sec1-content > h1{
  margin: 32px 0;
  font-size: calc(2rem + 2vw);
}

.sec1-content > p{
  font-size: 1.3rem;
  /* margin: 12px 0; */
}

.sec1-content > a{ 
  display: block;
  padding: 8px 5em;
  margin: 24px 0 32px 0;
  text-decoration: none;
  text-align: center;
  color: white;
  background-color: var(--font-very-dark-grey);
  /* font-size: 1.3rem; */
}

/* section 2 */
.sec2-mobile-img {
  display: none;
}

.section2 {
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
  margin: 32px 0 32px 24px;
  color: var(--font-very-dark-grey);
}

.section2-left {
    width:60%;  
    padding-right: 24px;
}

.section2-left img{
 width: 100%;
}

.section2-left h2{
  padding-top: 32px;
}

.section2-left p{
  padding-top: 24px;
}

.section2-right{
  width: 40%;
}

.sec2-sm-area {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 0 32px 16px;
}

.sec2-sm-area-image {
  width: 35%;
}

.sec2-sm-area-content{
  width: 65%;
}

.sec2-desktop-img {
  display: block;
  width: 100%;
  height: auto;
}

.sec2-sm-area-content {
  padding-left: 24px;
}

.sec2-sm-area-content p{
  padding: 8px 0;
}

.sec2-sm-area-content a{
  color: var(--light-blue)
}

/* section 3 */
.section3-wrapper{
  background-color: var(--light-grey);
  padding: 32px 72px;
}

.section3-wrapper > h2 {
  text-align: center;
  padding-bottom: 32px;
}

.section3-items-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 32px;
  grid-column-gap: 32px;
}

.section3-item-wrapper img{
  display: block;
  width: 100%;
  height: auto;
}

/* section 4 */
.section4-wrapper {
  margin: 32px 0 32px 24px;
}

.section4-wrapper > h2{
  margin-bottom: 32px;
  text-align: center;
}



.section4-items-wrapper{
  display: flex;
  /* flex-wrap: wrap; */

}

.section4-left{
  width: 60%;
}

.sec4-left-content-area{
  padding-top: 24px;
}

.sec4-left-content-area > h3{
  padding-bottom: 8px;
}

.video-area video{
  width: 100%;
}

.section4-right{
  width: 40%;
  margin-left: 24px;
}

.sec4-sm-content-wrapper{
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  background-color: var(--light-grey);
}

.sec4-sm-text-wrapper{
  width: 65%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.sec4-sm-content-wrapper > img{
  width: 35%;
  margin: 16px;
}

/* footer */
.footer-items-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 16px 24px 32px 24px;
}

.footer-right > a {
  padding-left: 1rem;
}

.media-quary-footer{
  display: none;
}







/* //////////////////////////////////// */






/* Media Queries */
@media screen and (max-width: 800px)  {
  /* nav bar */
  .right-side{
    display: none;
  }

  .left-side{
    display: none;
  }

  .nav-wrapper{
    display: none;
  }
  .menu-icons{
    display: flex;
    height: 64px;
    align-items: center;
    justify-content: space-around;
  }

  /* section 1 */
  .section1 img {
    width:100%;
    padding: 0;
  }

  .sec1-content {
    padding-left: 16px;
  }

  /* .sec1-content > a{ 
    padding: 8px calc(1vw - 32px); 
    font-size: 1.3rem;
  }  */

  /* section 2 */
  .section2{
    margin: 0;
    padding: 0;
  }

  .section2-left{
    display: none;
  }

  .sec2-desktop-img{
    display: none;
  }

  .section2-right{
    width: 100%;
    margin: 16px 16px 32px 16px;
    padding: 0;
  }

  .sec2-sm-area{
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .sec2-sm-area-image{
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .sec2-mobile-img{
    display: block;
    width: 100%;
    height: auto;
  }

  .sec2-sm-area-content{
    padding-left: 16px;
  }

  /* .section2-right:nth-child(2){
      padding: 64px 0;
  } */

  .padding-64{
    padding: 64px 0;
  }

  .sec2-sm-area-content h3{
    padding-top: 32px;
  }

  .sec2-sm-area-content p{
    padding: 16px 0;
  }

  .sec2-sm-area-content h3{
    font-size: 1.8rem;
  }

  .sec2-sm-area-content p, a{
    font-size: 1.5rem;
  }

  /* section 3 */
  .section3-wrapper{
    background-color: white;
  }
  .section3-item-wrapper img, p{
    display: none;
  }

  .section3-items-wrapper{
    grid-template-columns: 1fr;
    grid-column-gap: 8px;
  }

  .section3-item-wrapper h3{
    background-color: var(--light-grey);
    padding: 16px 0 24px 16px;
    font-size: 1.8rem;
  }

  /* section 4 */
  .section4-right{
    display: none;
  }

  .sec4-left-content-area{
    display: none;
  }

  .section4-wrapper {
    margin: 16px 0 24px 0;
  }

  .section4-wrapper > h2{
    padding: 16px 0;
  }

  .section4-left{
    width: 100%;
  }

  .section4-wrapper > h2 {
     margin-bottom: 0;
  }

  /* footer */
  /* .footer-items-wrapper{
    display: block;
    margin: 16px 24px;
  }

  .footer-right{
    display: none;
  }

  .footer-left{
    display: block;
  } */

  .footer{
    display: none;
  }

  .media-quary-footer{
    display: block;
    margin: 40px 0 16px 24px;
    font-weight: 400;
    font-size: 1rem;
    color: var(--font-very-dark-grey);
  }








  .footer > hr{
    display: none;
  }














  
}


